{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
                <div class="row">
                    <div class="col-sm-12">


    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}

